{% extends "base.html" %} 

{% block content %}
<h3>Deploy Spoke (The P2P Texting Tool)</h3>
<h3> Step 0: Choose a name:</h3>
<form name="form" action="{{ url_for('check_heroku_name') }}" method="POST">
    
    <p> Choose a name for your app:</p>
    <div class="row">
        <div class="col-sm-4">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="myorganisation_texting" aria-describedby="app_name" id="app_name" name="app_name">
                <span class="input-group-addon">.herokuapp.com</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <br>
            <button type="submit" class="btn btn-success" id="submit" name="submit">Check if my name is available</button>
        </div>
    </div>
</form>
{% endblock %}
