{% extends "base.html" %}

{% block content %}
<h2>Deploy Spoke (The Peer to Peer Texting Tool)</h2>
<p> This is a tool to help you deploy Spoke to an Heroku Instance.</p>
<p> <i> To contribute to this tool, please visit the <a href='https://github.com/ToolsForRadicals/spoke-deploy'> Github Project Repository. </a> </i> </p>

<h3> Before starting - choose a name for your application:</h3>
<form name="form" action="{{ url_for('check_heroku_name') }}" method="POST">
    <br/>
    <div class="row">
        <div class="col-sm-4">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="myorgspoke" aria-describedby="app_name" id="app_name" name="app_name">
                <span class="input-group-addon">.herokuapp.com</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <br><br>
            <button type="submit" class="btn btn-success" id="submit" name="submit">Check if my name is available</button>
        </div>
    </div>
</form>
{% endblock %}
