{% extends "base.html" %}

{% block content %}
<h2>Spoke Deploy Tool - The tool to help you deploy Spoke</h2>
<p> Not familiar with Spoke? Visit our <a href="https://opensource.moveon.org/spoke"> Spoke informational page. </a> The author is <a href="https://github.com/AnthonyMockler"> @AnthonyMockler </a>. </p>
<p> This is a tool to help you deploy Spoke to an Heroku Instance.</p>
<p> <i> To contribute to this tool, please visit the <a href='https://github.com/ToolsForRadicals/spoke-deploy'> Github Project Repository. </a> </i> </p>
<br><br>
<h3> Before starting - <i> choose a name for your application: </i></h3>
<form name="form" action="{{ url_for('check_heroku_name') }}" method="POST">
    <br><br>
    <div class="row">
        <div class="col-sm-4">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="myorgspoke" aria-describedby="app_name" id="app_name" name="app_name">
                <span class="input-group-addon">.herokuapp.com</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <br><br>
            <button type="submit" class="btn btn-success" id="submit" name="submit">Check if my name is available</button>
        </div>
    </div>
</form>
{% endblock %}
